.color-selector {
  height: 42px;
  overflow: hidden;
  position: relative;
  top: 12px;
}
.color-selector > span {
  margin: 0 10px;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
}
