.figure-selector {
  flex-shrink: 0;
}

.figure-selector > svg {
  width: 35px;
  height: 35px;
  margin: 10px;
  box-sizing: border-box;
  vertical-align: top;
  cursor: pointer;
  border-bottom-width: 0;
  transition: border-bottom-width ease-in-out 0.1s;
}
