.more-tool {
  --width: 320px;
  padding: 0 20px;
  position: fixed;
  left: calc((100% - var(--width)) / 2);
  width: var(--width);
  height: 220px;
  background-color: #f9f4ef;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 #c6c6c6;
}

@keyframes show {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 200px;
    opacity: 1;
  }
}
@keyframes hidden {
  from {
    top: 200px;
    opacity: 1;
  }
  to {
    top: 10px;
    opacity: 0;
  }
}

.more-tool-wrap {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: background-color ease-in 0.25s;
}
.more-tool > h1 {
  text-align: center;
  font-size: 22px;
  color: #020826;
  letter-spacing: 5px;
}
.more-tool > p {
  font-size: 17px;
  color: #716040;
}
.more-tool > p:first-letter {
  margin: 0 3px;
  padding: 0;
  font-size: 38px;
  float: left;
  line-height: 40px;
}
